header , .rel, #container, .pt2{
	width: 70%;
	margin:10px auto;
	max-width: 3000px;
}
.logo img{
	width:10%;
	display:block;
}
.imagen{
	width: 30%;
}
.pt2 .imagen, .articulo{
	float:left;
}
.title2{
	font-size: 25px;
}

.listas{
	margin-left: 95px;
	list-style: square;
	font-size: 25px;
	width: 100%;
}
.arc{
	font-size: 40px;
}
.imagen1 {
	background-image: url(../img/bg-seccion1.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px ;
}
h1{
	font-size: 50px;
}
.boton1{
	width:90px;
    height: 30px;
    display:inline-block;
	background-color: #FF1493;
	color:black;
	font-size: 25px;
	padding: 13px;
	margin:20px 10px;
}
.boton2{
	width:90px;
	height: 30px;
	display:inline-block;
	background-color: #FF1493;
	color:black;
	font-size: 25px;
	padding: 13px;
	margin:20px 10px;
}
.boton1:hover{
	color: white;
	background-color: #EB1313;
	-moz-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-webkit-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-o-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-ms-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
.boton2:hover{
	color: white;
	background-color: #EB1313;
-moz-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-webkit-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-o-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-ms-transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
transform: scale(1.2) rotate(0deg) translateX(1px) translateY(1px);
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
.articulo{
	width:60%;
}
.articulo h1{
	padding-left: 23%;	
}
.articulo ul li{
	
}

@media only screen and (max-width: 800px) {
	body{
		background-color:#666060;
	}
}

footer{
	width: 100%
	height:100%;
	font-size: 30px;
	background: #000000;
	color: white;
	text-align: left;
	clear: both;
	padding: 10px 5px;
	border-top: 8px solid red;
	width: 1500px auto;

}

