#container{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	max-width: 1200px;
}

header, body{
	width: 90%;
	margin: 0px auto;
	
}

.logo1{
	
	margin: auto;
	display: block;
	padding: 10px;
}

.listas{
	margin-left: 425px;
	list-style: square;
}

.imagen1{
	background-image: url(../img/bg-seccion1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 700px;
	height: 500px;
	padding:400px 600px 0px 400px;


}

h1{
	text-align: left;
	font-size: 50px;
}

p{
	font-size: 30px;
}

.menu ul{
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;
}
.menu ul li a{
	
	margin-left: 2%;
}

.planes:hover{
	color: white;
	background-color: #EB1313;
	width: 150px;
	-webkit-transition: all 4s ease-in-out;
-moz-transition: all 4s ease-in-out;
-ms-transition: all 4s ease-in-out;
-o-transition: all 4s ease-in-out;
transition: all 4s ease-in-out;
}

.contratar:hover{
	color: white;
	background-color: #EB1313;
	width: 150px;
	-webkit-transition: all 4s ease-in-out;
-moz-transition: all 4s ease-in-out;
-ms-transition: all 4s ease-in-out;
-o-transition: all 4s ease-in-out;
transition: all 4s ease-in-out;
}

@media only screen and (max-width: 800px) {
	body{
		background-color:#666060;
	}
}

footer{
	background: #000000;
	color: white;
	text-align: left;
	clear: both;
	padding: 10px 5px;
	border-top: 8px solid red;
	width: 1500px;

}

