header{
	font-size: 30px;
	background: white;
	text-align: left;
	clear: both;
	padding: 10px 5px;
	width: 1500px auto;
}

body{
	background-color: #D4D4D4;
}

.logo1{
	margin-left: 50px;
}


.todito::after{
	content: "";
	clear: both;
	display: block;
	max-width: 100%;
}

#container{
	width: 90%;
	margin: 0px auto;
	max-width: 100%;
	min-width: 780px;
	
}


h1{
	font-size: 50px;
	text-align: left;
}

.flecha{
  background-repeat: no-repeat;	
  padding-left: 97px;
}

a:hover img{
	-moz-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
-webkit-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
-o-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
-ms-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);


-webkit-transition: all 1000ms ease-in-out;
-moz-transition: all 1000ms ease-in-out;
-ms-transition: all 1000ms ease-in-out;
-o-transition: all 1000ms ease-in-out;
transition: all 1000ms ease-in-out;
}

h2{
	color: #F13B9D;
	display: inline;
}

.menu ul{
	list-style: none;
}
.menu ul li{
	float: right;
}
.menu ul li a{
	padding: 5px 15px 20px 25px;
	display: inline-block;
	color: #F354B2;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
}
.menu ul li a{
	padding-right: 205px;
	padding-bottom: 1% ;
	padding-top: 1%;
}

h3{
	text-align: right;
	color: #F13B9D;
	display: inline;
}

.caja1, .caja2, .caja3{
	background-color: #605B5B;
	color: white;
	margin-left: 1%;
	margin-right: 115px;
	padding-right: 25px;
	float: right;
	position: relative;
	width: 80px;
	height: 100px;
}

.numero1, .numero2, .numero3{
	float: left;
	border-right: 1px solid white;
	font-size: 90px;
	background-color: #605B5B;
}

.numero1{

	color: #2CD8EC; 
	width: 80px;
	height: 100px;
	
}

.numero2{
	
	color: #F2923D;
	width: 80px;
	height: 100px;
}

.numero3{

	color: #1BF935;
	width: 80px;
	height: 100px;
}

.caja1{
	margin-right: 55px;
	top: 100px;
}

.caja2{
	margin-right: 55px;
	top: 100px;
}

.caja3{
	margin-right: 55px;
	top: 100px;
}

table{
	clear: both;
	margin: 1px auto;
}

table tr {
	padding: 4px;
	margin:1px;
}

table td{
	border-bottom: solid 1px #544E4E;
	padding-top: 1px;
}

.tam{
	text-align: left;

}

.capa{
	width: 200px;
	text-align: center;
}

.euros{
	font-size: 25px;
	text-align: center;
}

.botonFinal ul{
	list-style: none;
}
.botonFinal ul li{
	float: right;
}
.botonFinal ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;
	width: 80%;
}
.botonFinal ul li a{
	background: #F14198;
	margin-left: 1%;
	margin-right: 50%;
	margin-bottom: 12%;
}


footer{
	font-size: 20px;
	background: #000000;
	color: white;
	text-align: left;
	clear: both;
	padding: 10px 5px;
	border-top: 8px solid red;
	width: 1500px auto;

}

@media only screen and (max-width: 800px) {
	body{
		background-color:#666060;
	}
	h1{
		color:white;
	}

	td{
		color: white;
	}
}

@media only screen and (max-width:790px){
	
}
