header{
	font-size: 30px;
	background: white;
	text-align: left;
}

.a1{
	margin-left: 5%;
}

input{
	margin-left: 5%;
}

#name, #apellido, #email, #nameEmpr{
	width:300px ;
	
}

.todo{
	content: "";
	clear: both;
	display: block;
	max-width: 100%;
}

.logo1{
    
	width: 1170px ;
}

body{
	background-color: #D4D4D4;
}

#container{
    width: 90%;
	margin: 0px auto;
max-width: 100%;
	min-width: 780px;
}

.letra{
   color: #6D6868;
   font-size: 20px;
   border-bottom: dotted;
   text-decoration: none;
}

.logo1{
	margin: auto;
	display: block;
	padding: 10px;
}

h1{
	font-size: 50px;
	text-align: left;
}

.p2{
   color: #6D6868;
   font-size: 12px;
   text-decoration: none;
   display: inline;
}

.sa{
	list-style: none;
	text-align: left;
	margin-left: 0.5px;

}

h1{
	margin-left: 30px;
	font-size: 30px;
}

h2{
	font-size: 20px;
	height: 15px;
	display: inline-block;
	margin-right: 30px;
}

.containerB{
	max-width: 900px;

	margin: 0px auto;

}
.santi{
	color: #EF286A;
}

legend{
	color: #EF286A;
}

.menu ul{
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{

	display: inline-block;
	color: white;
	text-decoration: none;
	list-style: none;
}
.menu ul li a{
	background: #EA1212;
	margin-left: 2%;
}

.politica{
	display: block;
}

.boton:hover{
	color: black;
	padding: 5px;
	-webkit-transition: height 4s linear;
-moz-transition: height 4s linear;
-ms-transition: height 4s linear;
-o-transition: height 4s linear;
transition: height 4s linear;
}

form{
	height: 15%;
}


footer{
	font-size: 20px;
	background: #000000;
	color: white;
	text-align: left;
	clear: both;
	padding: 10px 5px;
	border-top: 8px solid red;
	width: 1500px auto;
  
}

fieldset{
	border-color: #EE49A6;
}

@media only screen and (max-width: 800px) {
	body{
		background-color:#666060;
	}
}


